<header class="app-header" [class.sidebar-collapsed]="sidebarCollapsed">
  <div class="header-left">
    <button 
      class="sidebar-toggle" 
      *ngIf="showMenuToggle"
      (click)="onMenuToggle()"
      [attr.aria-label]="sidebarCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
      <i class="bi" [class]="sidebarCollapsed ? 'bi-text-indent-left' : 'bi-text-indent-right'"></i>
    </button>
    
    <div class="header-content">
      <h1 class="header-title">{{ displayTitle }}</h1>
      <p class="header-description" *ngIf="displayDescription">{{ displayDescription }}</p>
    </div>
  </div>

  <div class="header-right">
    <ng-content select="[actions]"></ng-content>
    
    <div class="user-menu" *ngIf="showUserMenu">
      <ng-content select="[user-menu]"></ng-content>
    </div>
  </div>
</header>
